.whatsapp-float {
  position: fixed;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  background: #111;
  color: #fff;
  border-radius: 50px;
  padding: 14px 20px;
  text-decoration: none;
  z-index: 1000;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

.whatsapp-float:hover {
  transform: translateY(-50%) scale(1.05);
  background: #111;
  border: 2px solid transparent;
  background-image: 
    linear-gradient(#111, #111),
    linear-gradient(135deg, #00c9ff, #b81fff);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}


.whatsapp-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.whatsapp-content img {
  width: 26px;
  height: 26px;
}


.whatsapp-content span {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
}

/* Responsive */
@media (max-width: 768px) {
  .whatsapp-content span {
    display: none;
  }

  .whatsapp-float {
    border-radius: 50%;
    padding: 16px;
  }
}

/* WhatsApp */
.whatsapp {
    background: #25D366;
}

/* Correo */
.correo {
    background: linear-gradient(90deg, #ff416c, #ff4b2b);
}

/* Hover especial WhatsApp */
.whatsapp:hover {
    box-shadow: 0 10px 30px rgba(37, 211, 102, 0.4);
}

/* Hover especial Correo */
.correo:hover {
    box-shadow: 0 10px 30px rgba(255, 75, 43, 0.4);
}
